data/*
!data/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep
*.csv

models/*.pkl
models/*.json

# Ігнорувати віртуальне середовище Python
.venv/

__pycache__/
*.ipynb_checkpoints/
.env